In [4]:
import pandas as pd

# Load the CSV
df = pd.read_csv("results/summary_all.csv", index_col=0)

# Convert each column to numeric where possible, skipping 'Strategy' and other non-numeric columns
for col in df.columns:
    if col != "Strategy":
        df[col] = pd.to_numeric(df[col], errors='coerce')

# Group by 'Strategy' and compute averages
strategy_averages = df.groupby("Strategy").mean(numeric_only=True)

# Display the result
display(strategy_averages)

,Start Equity,End Equity,Percent Return,Total Trades,Win Rate,Sharpe Ratio,Max Drawdown
Strategy,,,,,,,
rsi,10000.0,13312.389259,33.124074,11.296296,60.953333,0.301852,-58.776296
sma_crossover,10000.0,15036.431111,50.364815,28.925926,32.406296,0.262963,-54.827407